extends layout

append links
	link(rel='stylesheet' href=assetsDirectory + '/css/pages/notifications.css')

block content
	.section
		h5.page-title
	.section
		.row
			.col-md-3.tags-section
				.card
					.card-header
						h5 tags
					.card-body
						button.btn.btn-sm.btn-dark-red-f.mr-2.mb-2
							| todo
							b.ml-1 125
						button.btn.btn-sm.btn-dark-red-o.mr-2.mb-2
							| hoy
							b.ml-1 45
						button.btn.btn-sm.btn-dark-red-o.mr-2.mb-2
							| ayer
							b.ml-1 21
						button.btn.btn-sm.btn-dark-red-o.mr-2.mb-2
							| esta semana
							b.ml-1 221
						button.btn.btn-sm.btn-dark-red-o.mr-2.mb-2
							| este mes
							b.ml-1 756
						button.btn.btn-sm.btn-dark-red-o.mr-2.mb-2
							| no leido
							b.ml-1 66
						button.btn.btn-sm.btn-dark-red-o.mr-2.mb-2
							| favorito
							b.ml-1 66
			.col-md-9.notifications-section
				.card
					h5.text-muted.title hoy
					.card-body
						ul.list-unstyled
							li.media
								img.mr-3(src=assetsDirectory + '/images/man.svg' alt='...').rounded-circle
								.media-body
									p 2 entradas de pacientes añadidas
									span.text-muted 16.12 by
									a(href='')  john doe
							li.media
								img.mr-3(src=assetsDirectory + '/images/man.svg' alt='...').rounded-circle
								.media-body
									p Ha llegado un mensaje de tu gerente.
									span.text-muted 14.12 by
									a(href='')  Tu
							li.media
								img.mr-3(src=assetsDirectory + '/images/man.svg' alt='...').rounded-circle
								.media-body
									p Fuiste mencionado en un comentario de Maria Gomez
									span.text-muted 10.12 by
									a(href='')  Tu
					h5.text-muted.title ayer
					.card-body
						ul.list-unstyled
							li.media
								img.mr-3(src=assetsDirectory + '/images/man.svg' alt='...').rounded-circle
								.media-body
									p 2 entradas de pacientes añadidas
									span.text-muted 16.12 by
									a(href='')  john doe
							li.media
								img.mr-3(src=assetsDirectory + '/images/man.svg' alt='...').rounded-circle
								.media-body
									p Ha llegado un mensaje de tu gerente.
									span.text-muted 14.12 by
									a(href='')  Tu
							li.media
								img.mr-3(src=assetsDirectory + '/images/man.svg' alt='...').rounded-circle
								.media-body
									p Fuiste mencionado en un comentario de Maria Gomez
									span.text-muted 10.12 by
									a(href='')  Tu
					h5.text-muted.title a principios de esta semana
					.card-body
						ul.list-unstyled
							li.media
								img.mr-3(src=assetsDirectory + '/images/man.svg' alt='...').rounded-circle
								.media-body
									p 2 entradas de pacientes añadidas
									span.text-muted 16.12 by
									a(href='')  john doe
							li.media
								img.mr-3(src=assetsDirectory + '/images/man.svg' alt='...').rounded-circle
								.media-body
									p Ha llegado un mensaje de tu gerente.
									span.text-muted 14.12 by
									a(href='')  Tu
							li.media
								img.mr-3(src=assetsDirectory + '/images/man.svg' alt='...').rounded-circle
								.media-body
									p Fuiste mencionado en un comentario de Maria Gomez
									span.text-muted 10.12 by
									a(href='')  Tu
					.card-footer.text-center
						button.btn.btn-dark-red-f
							i.las.la-chevron-circle-down
							| mostrar mas
