-var assetsDirectory = '../SiteAssets';

doctype
html
	head
		meta(charset="UTF-8")
		meta(name='viewport' content='width=device-width, initial-scale=1.0')
		link(rel='stylesheet' href=assetsDirectory + '/css/vendors/bootstrap.min.css')
		link(rel='stylesheet' href=assetsDirectory + '/css/pages/splash.css')
		link(rel='icon' href=assetsDirectory + '/images/covid-19.ico')
		script(src=assetsDirectory + '/js/vendors/jquery.min.js')
		script(src=assetsDirectory + '/js/vendors/bootstrap.bundle.min.js')
		title Bienvenido a Despertar
	body
		.hero-section
			.buttons-wrapper
				h1 bienvenido a nuestra&nbsp;
					u solución de
					|  salud
				.buttons
					a(href='../index.html').btn.btn-dark-blue-f.btn-lg.mr-4 explorar
					a(href='../index.html').btn.btn-dark-red-f.btn-lg nuestra app
			.feature-section
				.fixed-bottom.container
					.card-deck
						.card.bg-primary.text-white
							.card-header
								h5 Módulo de Dashboard
							.card-body
								p.card-text Un panel intuitivo para visualizar estadísticas y actividades clave de un vistazo.
						.card.bg-danger.text-white
							.card-header
								h5 Módulo de Pacientes / Especialistas
							.card-body
								p.card-text Gestiona perfiles, citas y registros médicos de pacientes y especialistas.
						.card.bg-info.text-white
							.card-header
								h5 Módulo de Adquisiciones
							.card-body
								p.card-text Realiza un seguimiento de las solicitudes de compra y gestiona el inventario de equipos.
						.card.bg-success.text-white
							.card-header
								h5 Módulo de Notificaciones
							.card-body
								p.card-text Mantente informado con un centro de notificaciones completo y personalizable.
								
